@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 4% 10%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 262 85% 58%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 4% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 170 80% 45%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 262 85% 58%;

    --chart-1: 262 85% 58%;
    --chart-2: 170 80% 45%;
    --chart-3: 32 95% 55%;
    --chart-4: 210 90% 55%;
    --chart-5: 0 0% 70%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 240 4% 10%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 262 85% 58%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 4% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 170 80% 45%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 262 85% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media print {
  .print-hide {
    display: none !important;
  }

  body {
    background-color: white !important;
  }
  
  .print-page-main {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .print-page-container {
     max-width: none !important;
     margin: 0 !important;
     padding: 0 !important;
     box-shadow: none !important;
     border: none !important;
  }
  
  .print-page-report {
     padding: 1.5cm !important;
     font-size: 10pt;
  }
  .print-page-report h1 {
    font-size: 18pt;
  }
  .print-page-report h2 {
    font-size: 14pt;
  }
  .print-page-report h3 {
    font-size: 12pt;
  }
}
